/**
 * Skin Specifics for General
 */
.navigation.inline .menu > li > a {
  letter-spacing: 0.08em;
}

.navigation.inline .menu > li li a,
.navigation.inline .mega-menu .sub-cats a {
  font-size: 13px;
  letter-spacing: 0.07em;
  font-weight: 600;
}

.navigation.simple .menu > li > a {
  font-size: 14px;
  letter-spacing: 0.08em;
}
